html {
  margin: 0;
  padding: 0;
  background: linear-gradient(black, black), url(images/wave-min.webp) no-repeat;
  background-blend-mode: saturation;
  background-size: cover;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*HEADER*/

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  width: 50%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #d1d5db;
  margin-top: 75px;
}

#seed-color {
  width: 60px;
  height: 40px;
}

#select-scheme {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 10px 100px 10px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#select-scheme:hover {
  box-shadow: none;
}

select:focus {
  outline: none;
}

#getscheme-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#getscheme-btn:hover {
  box-shadow: none;
}

/*COLORS*/

.colors-container {
  display: flex;
  justify-content: center;
}

#colors {
  background-color: #fff;
  width: 50%;
  height: 500px;
}

.color-scheme {
  display: flex;
  justify-content: space-evenly;
}

.color {
  width: 100%;
  height: 550px;
}

/*HEX CODES*/

.hex-codes-container {
  display: flex;
  justify-content: center;
}

#hex-codes {
  width: 50%;
  background-color: #fff;
  padding: 35px 0 35px 0;
  border-top: 1px solid #d1d5db;
  margin-bottom: 25px;
}

.hex-scheme {
  display: flex;
  justify-content: space-around;
}

.hex {
  font-weight: 500;
}

p {
  margin: 0;
}
